h1 {
    text-align: center;
}

/*Events.html styling*/

.bg-image-christmas {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    background: url(/imgs/christmas-Event.jpg) no-repeat;
    filter: blur(4px) grayscale(20%);
    background-size: cover;
    height: 300px;
}

#content-christmas {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    filter: none;
    margin: 40px 20px 40px 20px;
}

.card-group {
    display: flex;
}
.fb-details{
    background: url(/Content/img/social-sprite.png);
    display: inline-block;
    cursor: pointer;
    text-indent: -9999em;
    width: 40px;
    height: 40px;
    margin: 0 3px 0 0;
    padding: 0;
    background-size: cover;
}